body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'pixel';
}

@font-face {
    font-family: 'pixel';
    src: url('font.ttf') format('truetype');
}


.game-area {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #333;
}

.score-area {
    color: green
}